# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=

# PostgreSQL
PGDATABASE=catalogo_db_firemed_1
PGUSER=postgres
PGPASSWORD=your-local-postgres-password
PGHOST=localhost
PGPORT=5432
