<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} "{{ data_negocio.nombre }}" {% endblock %}</title>
    <!-- CSS Global unificado -->
    <link rel="stylesheet" href="{% load static %}{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- Barra de Navegación Compartida -->
    <header>
        <div class="nav-container">
            <a href="{% url 'landing' %}" class="logo-brand">
                {% if data_negocio.logo %}
                    <!-- Si el dueño subió un logo en el Admin, se muestra la imagen -->
                    <img src="{{ data_negocio.logo.url }}" alt="{{ data_negocio.nombre }}" style="max-height: 40px; width: auto;">
                {% else %}
                    <!-- Si no hay logo cargado, muestra el texto corporativo por defecto -->
                    <span class="logo-text">{{ data_negocio.nombre|default:"TodoTech SAC" }}</span>
                {% endif %}
            </a>
            <ul class="nav-links">
                <li><a href="{% url 'landing' %}">Inicio</a></li>
                <li><a href="{% url 'lista_items' %}">Catálogo</a></li>
                <li><a href="https://wa.me/{{ data_negocio.telefono|default:'51987654321' }}?text=Hola%2C%20quiero%20comprar%20una%20laptop%20" target="_blank">Contacto</a></li>
            </ul>
        </div>
    </header>

    <!-- Contenido Dinámico de cada Vista -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Pie de Página Compartido -->
    <footer>
        <p>&copy; 2026 TodoTech SAC. Todos los derechos reservados. Presencia digital esencial.</p>
    </footer>

    <!-- Scripts opcionales por página -->
    {% block extra_js %}{% endblock %}
</body>
</html>